
.App {
    background-color: white;
  }
  
  .Home-form-container {
    background-color: rgb(20, 161, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .Home-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(167, 160, 160);
  }
  
  .Home-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Home-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(36, 9, 9);
  }

  .Administrator{
   background: url("https://images.pexels.com/photos/4483608/pexels-photo-4483608.jpeg?auto=compress&cs=tinysrgb&w=800") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  }

  .Manager{
    background: url("https://img.freepik.com/free-photo/interior-large-distribution-warehouse-with-shelves-stacked-with-palettes-goods-ready-market_342744-1481.jpg?w=1480&t=st=1682470658~exp=1682471258~hmac=d499a52c391943f8c8e8d25613457b8e10e9d503e35e665e9a3b48136f929dec") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   min-height: 100%;
   min-width: 100%;
   position: fixed;
   top: 0;
   left: 0;
 
   }
   .Picker{
    background: url("https://img.freepik.com/free-photo/close-up-warehouse-view_23-2148923142.jpg?w=1480&t=st=1682471188~exp=1682471788~hmac=0f5adc0e91b9c5995fa405896a1b6588fc7a9be06f2a279f49e86d60ae196841") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   min-height: 100%;
   min-width: 100%;
   position: fixed;
   top: 0;
   left: 0;
 
   }
   .AddInventory{
   
     background-color: rgb(20, 161, 186);
     height: 650px;
     text-align: center;
     
     font-size: 20px;
     color: rgb(67, 42, 207);
  
   }
   .EditInventory{
   
    background-color: rgb(80, 145, 199);
    height: 650px;
    text-align: center;
    
    font-size: 20px;
    color: rgb(67, 42, 207);
 
  }
   
   .Layout{
    text-align: center;
    font-size: 28px;
    font-style:normal;
    background-color: rgb(80, 151, 213);
    height: 60px;

   }